<% layout('/layouts/f_default.html', {title: '帖子详情',libs: ['']}){ %>
<div class="layui-container">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8 content detail">
            <% if(frontPost.status=='1'){ %>
                <div class="fly-panel detail-box">
                    <div class="fly-none">该帖子已被删除</div>
                </div>
            <% } else { %>
                <div class="fly-panel detail-box">
                    <h1>${frontPost.postTitle}</h1>
                    <div class="fly-detail-info">
                        ${frontPost.status=="2"?'<span class="layui-badge">审核中</span>'}
                        <span class="layui-badge layui-bg-green fly-detail-column">${@DictUtils.getDictLabel("front_post_category",frontPost.postCategory,"0")}</span>
                        <span class="layui-badge status-span" style="background-color: ${frontPost.postStatus=="0"?'#999;':'#5FB878;'}">${@DictUtils.getDictLabel("front_post_status",frontPost.postStatus,"0")}</span>
                        ${frontPost.postIstop=="1"?'<span class="layui-badge layui-bg-black">置顶</span>'}
                        ${frontPost.postIsgood=="1"?'<span class="layui-badge layui-bg-red">精帖</span>'}
                        <% if (hasPermi('front:admin')) { %>
                        <div class="fly-admin-box" data-id="${frontPost.id}">
                            <span class="layui-btn layui-btn-xs jie-admin" type="del">删除</span>
                            ${frontPost.postIstop=="0"?
                            '<span class="layui-btn layui-btn-xs jie-admin" type="set" field="postIstop" postIstop="1">置顶</span>':
                            '<span class="layui-btn layui-btn-xs jie-admin" type="set" field="postIstop" postIstop="0" style="background-color:#ccc;">取消置顶</span>'
                            }
                            ${frontPost.postIsgood=="0"?
                            '<span class="layui-btn layui-btn-xs jie-admin" type="set" field="postIsgood" postIsgood="1">加精</span>':
                            '<span class="layui-btn layui-btn-xs jie-admin" type="set" field="postIsgood" postIsgood="0" style="background-color:#ccc;">取消加精</span>'
                            }
                        </div>
                        <% } %>
                        <span class="fly-list-nums">
                            <a href="#comment"><i class="iconfont" title="回答">&#xe60c;</i> ${frontPost.postCommentCount}</a>
                            <i class="iconfont" title="人气">&#xe60b;</i> ${frontPost.postViewCount}
                        </span>
                    </div>
                    <div class="detail-about">
                        <a class="fly-avatar" href="${ctxf}/front/user/${frontPost.postUp.userCode}">
                            <img src="${@frontPost.getPostUp().getAvatarUrl().replaceFirst('/ctxPath', ctxPath)}" alt="${frontPost.postUp.userName}">
                        </a>
                        <div class="fly-detail-user">
                            <a href="${ctxf}/front/user/${frontPost.postUp.userCode}" class="fly-link">
                                <cite>${frontPost.postUp.userName}</cite>
                                ${frontPost.postUp.front.upAuth!=null?'<i class="iconfont icon-renzheng" title="认证信息：'+frontPost.postUp.front.upAuth+'"></i>'}
                                ${frontPost.postUp.front.upVlevel!=null?'<i class="layui-badge fly-badge-vip">VIP'+frontPost.postUp.front.upVlevel+'</i>'}
                            </a>
                            <span>${@TimeUtils.formatTimeAgo(frontPost.createDate)}</span>
                        </div>
                        <div class="detail-hits" id="LAY_jieAdmin" data-id="${frontPost.id}">
                            <span style="padding-right: 10px; color: #FF7200">悬赏：${frontPost.postKiss}飞吻</span>
                            <% if(frontUser!=null) { %>
                                <% if(frontPost.postStatus=='0' && @StringUtils.equals(frontUser.userCode,frontPost.postUp.userCode)) { %>
                                    <span class="layui-btn layui-btn-xs jie-admin jie-btn-edit" type="edit"><a href="${ctxf}/front/jie/add?id=${frontPost.id}">编辑此贴</a></span>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="detail-body photos" hidden>
                        ${frontPost.postContent}
                    </div>
                </div>
                <div class="fly-panel detail-box" id="flyReply">
                    <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                        <legend>回帖</legend>
                    </fieldset>
                    <ul class="jieda" id="jieda">
                        <% if(frontPost.frontCommentList.~size==0) { %>
                        <li class="fly-none">消灭零回复</li>
                        <% } else { %>
                        <% for(item in commentPage.list) { %>
                        <li data-id="${item.id}" ${item.commentIsaccept=="1"?'class="jieda-daan"'}>
                            <a name="item-${item.id}"></a>
                            <div class="detail-about detail-about-reply">
                                <a class="fly-avatar" href="${ctxf}/front/user/${item.commentUp.userCode}">
                                    <img src="${@item.getCommentUp().getAvatarUrl().replaceFirst('/ctxPath', ctxPath)}" alt="${item.commentUp.userName}">
                                </a>
                                <div class="fly-detail-user">
                                    <a href="${ctxf}/front/user/${item.commentUp.userCode}" class="fly-link">
                                        <cite>${item.commentUp.userName}</cite>
                                        ${item.commentUp.front.upAuth!=null?'<i class="iconfont icon-renzheng" title="认证信息：'+item.commentUp.front.upAuth+'"></i>'}
                                        ${item.commentUp.front.upVlevel!=null?'<i class="layui-badge fly-badge-vip">VIP'+item.commentUp.front.upVlevel+'</i>'}
                                    </a>
                                    <% if(@StringUtils.equals(frontPost.postUp.userCode,item.commentUp.userCode)) { %>
                                    <span>(楼主)</span>
                                    <% } %>
                                    ${item.commentUp.status=='2'?' <span style="color:#999">（该号已被封）</span>'}
                                </div>

                                <div class="detail-hits">
                                    <span>${@TimeUtils.formatTimeAgo(item.createDate)}</span>
                                </div>
                                ${item.commentIsaccept=="1"?'<i class="iconfont icon-caina" title="最佳答案"></i>'}

                            </div>
                            <div class="detail-body jieda-body photos" hidden>
                                ${item.commentContent}
                            </div>
                            <div class="jieda-reply">
                                <!--<span class="jieda-zan zanok" type="zan">
                                    <i class="iconfont icon-zan"></i>
                                    <em>66</em>
                                </span>-->
                                <span type="reply">
                                                <i class="iconfont icon-svgmoban53"></i>回复
                                            </span>
                                <% if (hasPermi('front:admin')) { %>
                                <div class="jieda-admin">
                                    <span type="del">删除</span>
                                    <% if(!hasAccept) { %>
                                    <% if(@StringUtils.equals(frontUser.userCode,frontPost.postUp.userCode) && item.commentIsaccept=="0") { %>
                                    <span class="jieda-accept" type="accept">采纳</span>
                                    <% } %>
                                    <% } %>
                                </div>
                                <% } else { %>
                                <% if(frontUser!=null) { %>
                                <% if(!hasAccept && @StringUtils.equals(frontUser.userCode,frontPost.postUp.userCode) && item.commentIsaccept=="0") { %>
                                <div class="jieda-admin">
                                    <span class="jieda-accept" type="accept">采纳</span>
                                </div>
                                <% } %>
                                <% } %>
                                <% } %>
                            </div>
                        </li>
                        <% } %>
                        <% } %>
                    </ul>
                    <%  if(frontPost.frontCommentList.~size != 0) {
                    var url = ctxf + '/front/jie/' + frontPost.id;
                    frontPage(commentPage,url);
                    }
                    %>
                    <% if(frontPost.postIsreply=="0") { %>
                        <div class="layui-form layui-form-pane">
                            <form action="${ctxf}/front/jie/reply" method="post">
                                <div class="layui-form-item layui-form-text">
                                    <a name="comment"></a>
                                    <div class="layui-input-block">
                                        <textarea id="L_content" name="commentContent" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <input type="text" id="id" name="id" value="${frontPost.id}" hidden>
                                    <button class="layui-btn" lay-filter="replyForm" lay-submit>提交回复</button>
                                </div>
                            </form>
                        </div>
                    <% } else { %>
                        <blockquote class="layui-elem-quote layui-quote-nm layui-disabled" style="margin: 100px 0 20px; padding: 50px 20px; text-align: center; color: #999!important;">
                            本帖已设置禁止回复
                        </blockquote>
                    <% } %>
                </div>
            <% } %>
        </div>
        <div class="layui-col-md4">
        <!--引入公共侧边栏，本周热议-->
        <% include('/include/f_siderbar.html', {}){} %>
        <!--广告区域，心级赞助商-->
        <% include('/include/ad/f_adtemplate.html', {list: heartAdList,title: '心级赞助商'}){} %>
        <!--广告区域，官方产品-->
        <% include('/include/ad/f_adtemplate.html', {list: officalAdList,title: '官方产品'}){} %>
        <!--广告区域，官方二维码-->
        <% include('/include/ad/f_qrcode.html', {}){} %>
        </div>
    </div>
</div>
<div id="hiddenHtmlBox" hidden></div>
<!--引入页脚-->
<% include('/include/f_footer.html', {libs: ['']}){} %>
<script>
    layui.cache.page = 'jie';
    layui.cache.user = '${frontUser}';
    layui.config({
        version: "3.0.0"
        ,base: '${ctxStatic}/fly/mods/'
    }).extend({
        fly: 'index'
    }).use(['fly','face'],function(){
        var $ = layui.$,fly = layui.fly;
        $('.detail-body').each(function(){
            var othis = $(this),html = fly.content(othis.html());
            othis.html(html.substring(4));
            othis.removeAttr("hidden");
        });
    });
</script>
<% } %>
