<% layout('/layouts/default.html', {title: '前台用户表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('前台用户管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${frontUser}" action="${ctx}/front/frontUser/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('UP主姓名')}：</label>
					<div class="control-inline">
						<#form:input path="upName" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('UP主城市')}：</label>
					<div class="control-inline">
						<#form:input path="upCity" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('UP主飞吻数')}：</label>
					<div class="control-inline">
						<#form:input path="upKiss" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('UP主认证信息')}：</label>
					<div class="control-inline">
						<#form:input path="upAuth" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('UP主VIP等级')}：</label>
					<div class="control-inline">
						<#form:input path="upVlevel" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('上次签到日期')}：</label>
					<div class="control-inline">
						<#form:input path="upSignDate" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('连续签到天数')}：</label>
					<div class="control-inline">
						<#form:input path="upSignCount" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('昵称')}', name:'userName', index:'a.user_name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/front/frontUser/form?userCode='+row.userCode+'&op=edit" class="btnList" data-title="${text('编辑前台用户')}">'+(val||row.id)+'</a>';
		}},
        {header:'${text('性别')}', name:'sex', index:'a.sex', width:150, align:"center", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('sys_user_sex')}, val, '${text('未知')}', true);
        }},
		{header:'${text('城市')}', name:'front.upCity', index:'f.up_city', width:150, align:"left"},
		{header:'${text('飞吻数')}', name:'front.upKiss', index:'f.up_kiss', width:150, align:"center"},
		{header:'${text('认证信息')}', name:'front.upAuth', index:'f.up_auth', width:150, align:"left"},
		{header:'${text('VIP等级')}', name:'front.upVlevel', index:'f.up_vlevel', width:150, align:"center"},
		{header:'${text('上次签到日期')}', name:'front.upSignDate', index:'f.up_sign_date', width:150, align:"center"},
		{header:'${text('连续签到天数')}', name:'front.upSignCount', index:'f.up_sign_count', width:150, align:"center"},
        {header:'${text('创建时间')}', name:'front.createDate', index:'f.create_date', width:150, align:"center"},
        {header:'${text('状态')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
                return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
        }},
		{header:'${text('操作')}', name:'actions', width:150, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('front:frontUser:edit')){ %>
				actions.push('<a href="${ctx}/front/frontUser/form?userCode='+row.userCode+'&op=edit" class="btnList" title="${text('编辑用户')}"><i class="fa fa-pencil"></i></a>&nbsp;');
			<% } %>
            <% if(hasPermi('front:frontUser:updateStatus')){ %>
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/front/frontUser/disable?userCode='+row.userCode+'" class="btnList" title="${text('停用用户')}" data-confirm="${text('确认要停用该用户吗？')}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/front/frontUser/enable?userCode='+row.userCode+'" class="btnList" title="${text('启用用户')}" data-confirm="${text('确认要启用该用户吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
			<% } %>
            <% if(hasPermi('front:frontUser:edit')){ %>
                    actions.push('<a href="${ctx}/front/frontUser/delete?userCode='+row.userCode+'" class="btnList" title="${text('删除用户')}" data-confirm="${text('确认要删除该用户吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
            <% } %>
            <% if(hasPermi('front:frontUser:authRole')){ %>
                    actions.push('<a href="javascript:" class="btnMore" title="${text('更多操作')}"><i class="fa fa-chevron-circle-right"></i></a>&nbsp;');
                    actions.push('<div class="moreItems">');
                    actions.push('<a href="${ctx}/front/frontUser/form?userCode='+row.userCode+'&op=auth" class="btn btn-default btn-xs btnList" title="${text('用户分配角色')}"><i class="fa fa-check-square-o"></i> ${text('分配角色')}</a>&nbsp;');
                    actions.push('</div>');
            <% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>