<% layout('/layouts/default.html', {title: '帖子表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('帖子表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('front:frontPost:edit')){ %>
					<a href="${ctx}/front/frontPost/form" class="btn btn-default btnTool" title="${text('新增帖子表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${frontPost}" action="${ctx}/front/frontPost/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('帖子标题')}：</label>
					<div class="control-inline">
						<#form:input path="postTitle" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('帖子内容')}：</label>
					<div class="control-inline">
						<#form:input path="postContent" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('帖子分类')}：</label>
					<div class="control-inline width-120">
						<#form:select path="postCategory" dictType="front_post_category" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('帖子结束状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="postStatus" dictType="front_post_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('帖子悬赏飞吻数')}：</label>
					<div class="control-inline">
						<#form:input path="postKiss" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('帖子评论数')}：</label>
					<div class="control-inline">
						<#form:input path="postCommentCount" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('帖子查看人数')}：</label>
					<div class="control-inline">
						<#form:input path="postViewCount" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('是否置顶')}：</label>
					<div class="control-inline">
						<#form:radio path="postIstop" dictType="front_post_istop" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('是否精贴')}：</label>
					<div class="control-inline">
						<#form:radio path="postIsgood" dictType="front_post_isgood" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('帖子作者')}：</label>
					<div class="control-inline">
						<#form:input path="postAuth" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('作者头像')}：</label>
					<div class="control-inline">
						<#form:input path="postAuthAvatar" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('作者VIP等级')}：</label>
					<div class="control-inline">
						<#form:input path="postAuthVlevel" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
        {header:'${text('作者')}', name:'postAuth', index:'a.post_auth', width:150, align:"left"},
		{header:'${text('标题')}', name:'postTitle', index:'a.post_title', width:500, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/front/frontPost/form?id='+row.id+'" class="btnList" data-title="${text('编辑帖子表')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('分类')}', name:'postCategory', index:'a.post_category', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('front_post_category')}, val, '${text('未知')}', true);
		}},
		{header:'${text('结束状态')}', name:'postStatus', index:'a.post_status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('front_post_status')}, val, '${text('未知')}', true);
		}},
		{header:'${text('悬赏飞吻数')}', name:'postKiss', index:'a.post_kiss', width:150, align:"center"},
		{header:'${text('评论数')}', name:'postCommentCount', index:'a.post_comment_count', width:100, align:"center"},
		{header:'${text('查看人数')}', name:'postViewCount', index:'a.post_view_count', width:100, align:"center"},
		{header:'${text('是否置顶')}', name:'postIstop', index:'a.post_istop', width:100, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('front_post_istop')}, val, '${text('未知')}', true);
		}},
		{header:'${text('是否精贴')}', name:'postIsgood', index:'a.post_isgood', width:100, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('front_post_isgood')}, val, '${text('未知')}', true);
		}},
		{header:'${text('状态')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
		}},
		{header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:150, align:"center"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('front:frontPost:edit')){ %>
				actions.push('<a href="${ctx}/front/frontPost/form?id='+row.id+'" class="btnList" title="${text('编辑帖子表')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/front/frontPost/delete?id='+row.id+'" class="btnList" title="${text('删除帖子表')}" data-confirm="${text('确认要删除该帖子表吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>