<!--官方产品-->
<div class="fly-panel">
    <div class="fly-panel-title">
        官方产品
    </div>
    <div class="fly-panel-main">
        <a href="http://layim.layui.com/?from=fly" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">官方产品1</a>
        <a href="http://layim.layui.com/?from=fly" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">官方产品2</a>
        <a href="http://layim.layui.com/?from=fly" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">官方产品3</a>
    </div>
</div>