<%
    var frontUser = @FrontUtils.getCurrentFrontUser();
    var userCode = frontUser.userCode;
%>
<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
        <a href="${userCode}">
            <i class="layui-icon">&#xe68e;</i>
            我的主页
        </a>
    </li>
    <li class="layui-nav-item <% if(has(menuType)&&menuType=='index'){ %> layui-this <% } %>">
        <a href="${ctxf}/front/user/index">
            <i class="layui-icon">&#xe612;</i>
            用户中心
        </a>
    </li>
    <li class="layui-nav-item <% if(has(menuType)&&menuType=='set'){ %> layui-this <% } %>">
        <a href="${ctxf}/front/user/set">
            <i class="layui-icon">&#xe620;</i>
            基本设置
        </a>
    </li>
    <li class="layui-nav-item <% if(has(menuType)&&menuType=='post'){ %> layui-this <% } %>">
        <a href="${ctxf}/front/user/post">
            <i class="layui-icon">&#xe60a;</i>
            我的帖子
        </a>
    </li>
    <li class="layui-nav-item <% if(has(menuType)&&menuType=='message'){ %> layui-this <% } %>">
        <a href="${ctxf}/front/user/message">
            <i class="layui-icon">&#xe611;</i>
            我的消息
        </a>
    </li>
</ul>

<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>

<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>